@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700;800&display=swap');

body{
    font-family: 'Assistant', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;  
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
/* header area start */
header{
    background: rgba(255, 255, 255, 1);
    position: relative;
}
.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1920px;
    height: 130px;
    padding: 0 50px;
    margin-right: 20px;
    
    
}
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    height: 100%;
    width: 20%;
    transform: skew(-30deg);
    background-color: rgba(255, 73, 23, 1);
}
.logo{
    color: rgba(255, 73, 23, 1);
    font-size: 35px;
    font-weight: 800;
}
.nav-links li{
    display: inline-block;
    margin-right: 35px;
    margin-top: 20px;
    
}
.nav-links li a{
    color: rgba(20, 33, 42, 1);
    font-size: 18px;
    font-weight: 600;
}
.nav-links li a:hover{
    color: rgba(255, 73, 23, 1);
}
.nav-btn{
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 33px;
    border-radius: 34px;
    letter-spacing: 1px;
    background: #162029;
    color: rgba(255, 255, 255, 1);
    position: relative;
    z-index: 1;
}
.nav-btn::after{
    content: "";
    position: absolute;
    width: 83px;
    height: 60px;
    top: 5px;
    right: 5px;
    z-index: -1;
    background-color: rgba(255, 73, 23, 1);
    border-radius: 50%;   
}

/* banner area start */
.banner-one{
    background-image: url("../image/banner-one.jpg"); 
}
.banner-two{
    background-image: url("../image/banner-two.jpg");
}
.banner-three{
    background-image: url("../image/banner-three.jpg");
}
.banner-one, .banner-two, .banner-three{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 230px 0;
    position: relative; 
    z-index: 1;
}

.banner-overlay{
    background: rgba(22, 32, 41, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}
.banner-area{
    position: relative;
}
.banner-one::before, .banner-two::before, .banner-three::before{
    content: "";
    width: 30%;
    height: 40%;
    background: rgba(255, 73, 23, 0.6);
    position: absolute;
    top: 0;
    left: -310px;
    transform: skew(-30deg);
}
.banner-one::after, .banner-two::after, .banner-three::after{
    content: "";
    width: 40%;
    height: 50%;
    background: rgba(255, 73, 23, 0.5);
    position: absolute;
    top: 0;
    left: -430px;
    transform: skew(-30deg);
}
.banner-content{
    padding: 0 50px;
}
.banner-content p{
    font-weight: 600;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: 0.68em;
    text-transform: uppercase;
    color: #FFF;
    
}
.banner-content h2{
    font-weight: 700;
    font-size: 96px;
    line-height: 106px;
    letter-spacing: -0.02em;    
    color: #FFF;
    
}
.banner-btn{
    position: absolute;
    bottom: 100px;
    left: 170px;
}
.banner-btn-one{
    background-color: rgba(255, 73, 23, 1);
}
.banner-btn-one::after{
    background: #162029;
}
.banner-btn-two{
    background: #FCFCFC;
    color: rgba(22, 32, 41, 1);
}
.banner-btn-two::after{
    background-color: #FF4917;
}

/* about area start */
.about-section, .section{
    padding: 135px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.section-content{
    padding: 0 40px;
}
.section-title{
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    color: #FF4917;
}
.section-heading{
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -0.02em;
    color: #14212A;
}
.section-description{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #616161;
}
.section-content ul li{
    list-style: disc;
    color: rgba(255, 73, 23, 1);
}
.section-content ul li a{
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #14212A;
}
.section-btn{
    margin-top: 20px;
}

/* service area start */
.service-area{
    background: rgba(245, 245, 245, 1);
    padding: 121px;
    position: relative;
}
.service-area::before{
    content: "";
    width: 30%;
    height: 40%;
    background: rgba(255, 73, 23, 1);
    position: absolute;
    top: 0;
    left: -315px;
    transform: skew(-30deg);
}
.service-area::after{
    content: "";
    width: 40%;
    height: 50%;
    background: rgba(255, 73, 23, 0.5);
    position: absolute;
    top: 0;
    left: -430px;
    transform: skew(-30deg);
}
.service-title, .service-heading{
    text-align: center;
}
.section-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 50px;
}
.card-one, .card-two, .card-three{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 2px 2px #888;
    padding: 60px 50px;
    position: relative;
}
.card-one::after, .card-two::after, .card-three::after{
    content: "";
    width: 90%;
    height: 5px;
    background: rgba(236, 238, 237, 1);
    position: absolute;
    bottom: -2px;
}
.card-one:hover:after, .card-two:hover:after, .card-three:hover:after{
    background: #FF4917;
}
.card-logo i{
    color: rgba(255, 73, 23, 1);
    font-size: 35px;
}
.card-title h5{
    font-weight: 600;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    color: #14212A;
}
.card-details p{
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #616161;
}
.card-btn i{
    font-size: 25px;
}
.card-btn i:hover{
    color: #FF4917;
    cursor: pointer;
}

/* video section start  */
.video-section{
    position: relative;
}
.video-section video{
    width: 100%;
    opacity: 0.6;   
}

.video-contents{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 121px 0 151px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-left p{
    color: #fff;
}
.video-heading{
    color: #fff;
}
.video-right i{
    font-size: 80px;
    color: #FF4917;
    margin-left: 250px;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 4px;
}

/* feature area start  */
.features-area{
    padding: 111px 0;
    margin-bottom: 400px;
}
.feature-cards{
    margin-top: 25px;
}
.feature-card-one{
    background: url("../image/feature-one.jpg");
}
.feature-card-two{
    background: url("../image/feature-two.jpg");
}
.feature-card-three{
    background: url("../image/feature-three.jpg");
}
.feature-card-four{
    background: url("../image/feature-four.jpg");
}
.feature-card-five{
    background: url("../image/feature-five.jpg");
}
.feature-card-six{
    background: url("../image/feature-six.jpg");
}
.feature-card{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: -1;
}
.feature-card::before{
    content: "";
    width: 200%;
    height: 90%;
    background: rgba(255, 73, 23, 1);
    position: absolute;
    bottom: 0;
    left: -608px;
    transform: skew(50deg);
}
.feature-card::after{
    content: "";
    width: 200%;
    height: 90%;
    background: rgba(255, 73, 23, 0.6);
    position: absolute;
    bottom: 0;
    left: -550px;
    transform: skew(50deg);
}
.feature-card-content{
    padding-top: 327px;
    padding-left: 25px;
    padding-bottom: 35px;
    z-index: 1;
}
.content-icon i{
    color: #fff;
    font-size: 30px;
}
.content-heading{
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.content-details{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

/* doing area start  */
.doing-area{
    background: rgba(245, 245, 245, 1);
    height: 100vh;
    position: relative;   
}
.doing-area-content{
    background: rgba(20, 33, 42, 1);
    position: absolute;
    bottom: 40%;
    left: 8%; 
}
.doing-heading{
    color: #fff;
}
.doing-content ul li, .doing-content ul li a, .doing-description{
    color: rgba(194, 217, 235, 1);
}
.counter-area{
    position: absolute;
    bottom: 5%;
    left: 8%;
    
}
.counter{
    background: rgba(245, 245, 245, 1);
    border: none;
}
.counter i{
    color: #FF4917;
    font-size: 35px;
    margin-top: 10px;
}
.counter-title{
    font-weight: 700;
    font-size: 54px;
    line-height: 57px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #14212A;
}
